body {
  font: helvetica neue, arial;
  background-color: none;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}


.section-row {
  margin-top: 45px;
}

.inline .block-label {
    clear: none;
    margin-right: 10px;
}
@media (min-width: 641px)
.block-label {
    float: left;
}
.block-label {
    display: block;
    float: left;
    clear: left;
    position: relative;
    background: #dee0e2;
    border: 1px solid #dee0e2;
    padding: 18px 30px 15px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.hint {
  margin-bottom: 10px;
}

.form-checkbox {
    display: block;
    margin: 15px 0;
    clear: left;
}

.form-checkbox input {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    margin: 0;
    width: 29px;
    height: 29px;
}


.form-heading {
  font-size: 19px;
  font-weight: 700;
  margin-top: 40px;
}

.premises-form-label {
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 15px;
  margin-top: 15px;
  color: black;
}

.button {
  font-size: 14px;
  padding-top: 11px;
  padding-bottom: 10px;
  background-color: gray;
}



#radio-inline-1 {
  margin-right: 15px;
}
#radio-inline-2 {
  margin-right: 15px;
}

.heading-medium {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

.heading-small {
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 700;
  text-transform: none;
}

#food-sectors {
  margin-top: 50px;
}

#map-canvas {
  width: 100%;
  height: 300px;
}

#top-bar-wrapper {
  background-color: #2D7E3F;
  height: 90px
}

.top-bar {
  background-color: inherit;
}

#logo-wrapper {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
  padding: 15px;
}

header {
  margin: 50px 0;
}

p#count,
div#loading p {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

fieldset.filters {
  border: none;
  margin: 0 25px 10px 0;
  padding: 1rem !important;
}


.download {
  padding-top: 10px;
}

footer ul,
footer li {
  list-style: none;
}

#premises-list li {
  list-style: none;
  border-top: solid 1px #000;
  line-height: 2.75rem;
}

#premises-list {
  margin: 0 !important;
}

#premises-list a {
  font-weight: bold;
}

.previous-next-navigation li.previous a {
  padding: 15px 0 15px 35px;
}

footer {
  margin: 50px 0px;
}

footer p,
footer li,
footer a {
  font-size: 0.9rem;
}

footer p {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

ul.accordion {
  margin: 0;
}

.accordion .accordion-navigation > a {
  padding: 0;
  background: inherit;
  display: block;
  font-size: inherit;
  color: #008CBA !important;
}

.accordion .accordion-navigation > a:hover {
  background: inherit;
}

.accordion .accordion-navigation ul,
.accordion .accordion-navigation li {
  list-style: none;
}

.accordion .accordion-navigation.active > a {
  background: inherit;
}

#registers {
  margin-top: 10px;
  border-left: 5px solid #e3e3e3;
  padding: 5px 10px 5px 0px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

#address-wrapper {
  height: 250px;
  border: 1px solid #bfc1c3;
  overflow-x: hidden;
  overflow-y: scroll;
}

#address-wrapper ul {
  margin-left: 0px;
}

#addresses li {
  background: #f8f8f8;
  border: 1px solid #dee0e2;
  margin: 1px;
}

#addresses li:hover {
  border: 1px solid #000;
}

#addresses li a {
  display: block;
  padding: 20px;
  width: 100%;
  height: 100%;
}

#address-not-found {
  padding: 20px 0px 0px 45px;
}

p.premises-address {
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 15px;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em)  {
  fieldset.filters {
    margin: 1.125rem 0;
  }
}

@media only screen and (max-width: 40em) {
  fieldset.filters {
    margin: 1.125rem 0;
  }
}
