{% extends "base.html" %}

{% block content %}

  <header>
    <div class="row">
      <div class="large-6 columns">
        <h1>Register a food Food Business
        Establishment</h1>
      </div>
    </div>
  </header>

<main id="content" role="main">


<form>
      <div class="row section-row">
        <div class="large-6 columns">
        <label class="premises-form-label">Establishment name</label>
            <p class="hint">The trading name of the restaurant, cafe, shop.</p>
            <input type="text" placeholder="" />
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label class="premises-form-label">Food premises</label>
          <p class="hint">The address of the premises. For a moveable food business, enter where it is kept</p>
          <input type="text" placeholder="" />
          <span class="button">Find address</span>
          </div>
       </div>


      <div class="row section-row">
        <div class="large-6 columns">
        <label class="premises-form-label">Food business operator</label>
          <p class="hint">The name of the sole-trader, business partnership, or limited company name operating the premises</p>
            <input type="text" placeholder="" />
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">

       </div>
      </div>

      <div class="row section-row">
        <div class="large-6 columns">
        <label class="premises-form-label">Type of food activity</label>
        <p class="hint">Please tick ALL the boxes that apply</p>
          <label for="checkbox1" class="block-label"><input id="checkbox1" type="checkbox">Staff restaurant/canteen/kitchen</label>
          <label for="checkbox2" class="block-label"><input id="checkbox2" type="checkbox">Food broker</label>
          <label for="checkbox3" class="block-label"><input id="checkbox3" type="checkbox">Retailer (including farm shop)</label>
          <label for="checkbox4" class="block-label"><input id="checkbox4" type="checkbox">Hospital/residential home/school</label>
          <label for="checkbox5" class="block-label"><input id="checkbox5" type="checkbox">Market/Market stall</label>
          <label for="checkbox6" class="block-label"><input id="checkbox6" type="checkbox">Distribution/warehousing</label>
          <label for="checkbox7" class="block-label"><input id="checkbox7" type="checkbox">Takeaway</label>
          <label for="checkbox8" class="block-label"><input id="checkbox8" type="checkbox">Food manufacturing/processing</label>
          <label for="checkbox9" class="block-label"><input id="checkbox9" type="checkbox">Hotel/pub/guest house</label>
          <label for="checkbox10" class="block-label"><input id="checkbox10" type="checkbox">Importer</label>
          <label for="checkbox11" class="block-label"><input id="checkbox11" type="checkbox">Private house used for a food business</label>
          <label for="checkbox12" class="block-label"><input id="checkbox12" type="checkbox">Catering</label>
          <label for="checkbox13" class="block-label"><input id="checkbox13" type="checkbox">Wholesale/cash and carry</label>
          <label for="checkbox14" class="block-label"><input id="checkbox14" type="checkbox">Packer</label>
          <label for="checkbox15" class="block-label"><input id="checkbox15" type="checkbox">Moveable establishment e.g. ice cream van</label>
      </div>
    </div>
</form>
  </main>
  {% include "footer.html" %}
{% endblock %}
